@font-face {
    font-family: lemonJelly;
    src: url('/FONTS/lemonJelly.ttf');
}

.about-background {
    padding: 10rem;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/IMG/about.png");
}

.special-title {
    font-family: lemonJelly;
    letter-spacing: 6px;
}